
@media screen and (min-width: 576px) {

/************/
/*  HEADER  */
/************/

	/* Main Header Container */
	#header-bottom {
		position: relative;
		height: 33vh; 
		min-height: 250px;
	    background-image: url("../img/bee-collecting-pollen.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
		transition: background-image 0.5s;
		text-shadow: none;
	}
	#header-bottom.bee {
		background-image: url("../img/bee-collecting-pollen.jpg");
	}
	#header-bottom.tractor {
		background-image: url("../img/field-and-tractors.jpg");
	}
	#header-bottom.meadow {
		background-image: url("../img/meadow.jpg");
	}

	/* Header Transitions */
	#header-bottom nav a:hover  {
		transition: 2s;
		background-color: rgba(255, 255, 255, 0.75);
		color: rgb(0, 0, 0);
	}
	#site-title:hover {
		transition: 2s;
		color: rgb(0, 0, 0);
		background-color: rgba(255, 255, 255, 0.75);
	}
	.social-media-links i:hover {
		transform: scale(1.2);
	}

	/* Main Header Elements/Content */
	#site-title, header nav, header .social-media-links {
		position: relative;
		z-index: 2;
	}
	#logo {
		z-index: 3;
	}
	#overlay {
		position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
		background-color: rgb(0, 0, 0);
		opacity: 0;
        transition: opacity 2s;
	}
	#wordmark {
		padding-left: 10%;
		padding-right: 10%;
	}
	#site-title {
		padding-left: 10%;
		padding-right: 10%;
		background-color: rgba(0, 0, 0, 0.65);
	}
	header nav a {
		width: 100px;
		padding-left: 10%;
		border-right: 1px dotted rgba(255, 255, 255, 0.5);
		background-color: rgba(0, 0, 0, 0.65);
	}
	header .social-media-links {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 5px 15px;
		border-top: 1px dotted rgba(255, 255, 255, 0.5);
		border-left: 1px dotted rgba(255, 255, 255, 0.5);
		height: 30px;
		width: 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.65);	
	}
	.social-media-links i {
		font-size: 1.25rem;
		padding: 0;
		transition: ease 1s;
	}



/******************/
/*  MAIN CONTENT  */
/******************/

	main {
		padding-left: 10%;
		padding-right: 10%;
	}

	/* program.html */
	.program-column-container {
		display: flex;
	}
	.program-column {
		background-color: #eee;
		margin-left: 8px;
		margin-right: 8px;
		padding: 16px;
		flex: 1;
		box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	}

	/* gallery.html */
	.gallery-item img {
		height: 150px;
	}
	.gallery-item img:hover {
		transform: scale(1.2);
	}


/************/
/*  FOOTER  */
/************/

	footer section {
		padding-left: 10%;
		padding-right: 10%;
	}
	
} 


@media screen and (min-width: 768px) {

/************/
/*  HEADER  */
/************/

	#wordmark {
		padding-left: 75px;
	}
	#logo {
		display: block;
		width: 100px;
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 20px;
	}
	#site-title:hover + #logo {
		filter: brightness(0%);
		transition: ease-out 2s;
	}
	#header-bottom nav a {
		padding-left: 75px;	
		width: 15%;
		max-width: 145px;
	}
	#site-title {
		padding-left: 75px;	
		padding-right: 75px;
	}

/************/
/*  FOOTER  */
/************/

	#unit-signature {
		width: 600px;
	}
	
	.contact-information {
		padding-left: calc(300px - 2px);
	}

}


@media screen and (min-width: 992px) {

/************/
/*  HEADER  */
/************/

	#site-title {
		font-size: 2.5rem;
	}


/******************/
/*  MAIN CONTENT  */
/******************/

	h1 {
		font-size: 2.0rem;
	}
	
	h2 {
		font-size: 2.75rem;
	}

}


@media screen and (min-width: 1200px) {

/************/
/*  FOOTER  */
/************/

	footer {
	    background-image: url("../img/fas-diamonds.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 100%;
	}

}