
/****************************/
/* BASE FOR COMMON ELEMENTS */
/****************************/

html, body {
	padding: 0;
	margin: 0;
	border: 0;
}
main {
	font: normal normal 1rem Open Sans, Lucida Grande, Lucida Sans Unicode, Helvetica Neue, Arial, sans-serif;
	line-height: 1.25;
	padding-top: 32px;
	padding-bottom: 64px;
	padding-left: 32px;
	padding-right: 32px;
}
h1 {
	font-size: 1.75rem;
}
h2 {
	font-size: 1.625rem;
}
h3 {
	font-size: 1.5rem;
}
blockquote {
	margin-left: 16px;
	margin-right: 16px;
	padding: 16px;
	background-color: #eee;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.link {
	color: #002f5e;
}
table {
	border-collapse: collapse;
	margin-bottom: 32px;
}
th, td {
	padding: 8px 16px;
	border: 1px solid black;
}
th {
	background-color: #eee;
}
table tr:last-child td {
	background-color: #eee;
}


/**********/
/* HEADER */
/**********/

#header-top {
	background-color: white;
	padding: 5px 0px;
}
#header-bottom {
	background-color: #002f5e;
	color: white;
	text-shadow: 1px 1px rgba(0,0, 0, 0.5);
	min-width: 260px;
}
#wordmark {
	display: block;
	width: 200px;
	padding-top: 8px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: white;
}
#site-title {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: 1px dotted rgba(255, 255, 255, 0.5);
	border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
	padding-left: 32px;
	padding-right: 32px;
}
#logo {
	display: none;
}
header nav a { 
	display: block; 
	padding: 12px 32px;
	margin: 0;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
	text-decoration: none;
}
header a {
	color: white;
}
header ul, header li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
header .social-media-links {
	padding: 8px 32px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}


/******************/
/*  gallery.html  */
/******************/

/* The Gallery */
.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
}
.gallery-item {
	flex: 0 0 100px;
	margin: 0;
	padding: 8px;
}
.gallery-item img {
	height: 100px;
	transition: transform 1s ease-out;
	cursor: pointer;
}

/* The Modal */
#modal {
	display: none;
}
.modal-container {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}
#close-button {
	position: absolute;
	top: 30px;
	right: 50px;
	color: rgb(241, 241, 241);
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
#close-button:hover {
	color: rgb(187, 187, 187);
	text-decoration: none;
	cursor: pointer;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#modal-image {
	max-width: 100%;
}
#modal-caption { 
	position: relative;
	color: rgb(255, 255, 255);
}
button {
	display: block;
	width: 25px;
	height: 25px;
}
.modal-below {
	position: relative;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}


/************/
/*  FOOTER  */
/************/

footer {
	font: normal normal 1rem Open Sans, Lucida Grande, Lucida Sans Unicode, Helvetica Neue, Arial, sans-serif;
	line-height: 1.25;
	min-width: 260px;
	padding-bottom: 64px;
	padding-top: 32px;
	background-color: #a91639;
	color: white;
}
footer section {
	padding-left: 32px;
	padding-right: 32px;
}
footer p {
	margin-bottom: 0;
}
footer i {
	width: 16px;
	height: 32px;
}
footer a { 
	color: white;
}
footer ul {
	list-style-type: none;
	padding-top: 8px; 
	padding-bottom: 32px;
	margin: 0;
}
#unit-signature {
	width: 100%;
}
.contact-information {
	padding-left: 50%;
}
